<h1>Turno Solicitado</h1>

<p>Estimado <%= @user.fname %>,</p>
<p>
Recibimos la solicitud del turno para el día <%= @appointment.date_on %> a las <%= @appointment.starts_at %>. Confirmaremos el turno a la brevedad y le enviaremos un correo electrónico con dicha confirmación.

Gracias por elegirnos nuevamente!
</p>
