<h1>Panel de Control</h1>

<div class="cards">
  <div class="card appointments-section">
    <div class="card-header">Turnos</div>
    <div class="card-copy"><%= link_to "Crear turno", new_appointment_path %></div>
  </div>

  <div class="card customers-section">
    <div class="card-header">Clientes</div>
    <div class="card-copy">
      <%= render "dashboards/customer_search_form" %>
      <%= link_to "Ver todos", customers_path %>
      <%= link_to "Crear cliente", new_customer_path %>
    </div>
</div>
