#new_appointment {
  @include row();
}

.new_appointment .input {
  @include span-columns(4);

  &.appointment_car_id {
    @include omega;
  }

  input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
  }

  input[type=checkbox]:checked + label {
    color: #ccc;
    font-style: normal;
  }
}

.submit-appointment-button {
  @include span-columns(4);
  @include shift(4);
}
