#new_appointment {
  @include row();
}

.new-appointment-form {
  @include span-columns(4);
  @include shift(4);
}

.new_appointment .input {
  @include span-columns(4 of 4);
  @include omega;
  margin-bottom: 20px;
}

.submit-appointment-button {
  @include span-columns(4 of 4);
}

.field_with_errors {
  input {
    border: 1px solid $danger-color;
    margin-bottom: 0;
  }

  span.error {
    background: $danger-color;
    border-radius: 3px;
    color: $light-font-color;
    font-size: 0.8em;
    padding: 5px;
  }
}


