<li class="tab-header-and-content">
  <a href="#" class="tab-link is-active"><%= title %></a>
  <div class="tab-content">
    <div class="booked-appointments">
        <%= render "appointments_table", appointments: appointments %>
    </div>
  </div>
</li>


