<div class="appointment">
  <p>Fecha: <%= @appointment.date_on %></p>
  <p>Cliente: <%= @appointment.customer_name %></p>
  <ul class="assignments">
    <% @appointment.assignments.each do |assignment| %>
      <li class="assignment">
        <%= assignment.job %>
        <%= link_to "Editar", edit_assignment_path(assignment) %>
      </li>
    <% end %>
  </ul>
</div>
