<li class="nav-link">
  <%= link_to t("navbar.logout"), destroy_user_session_path, method: :delete %>
</li>
<li class="nav-link">
  <%= link_to t("navbar.schedule_appointment"), new_appointment_path %>
</li>
